@media (min-width:500px) and (max-width:1000px){
    /* # Page 1 Open # */
    header{                           /*header box start*/
        height:300px;
        max-width:900px;
    }
    header a p{
        font-size:80px; 
        text-align: center;
    }                                /*header box close*/

    #job_box{                         /*job box start*/
        margin-top:100px;
        flex-direction:column;
        height:auto;
        gap:20px;
    }
    #job,#admit_card,#ans_key,#result{
        width:80%;
        height:200px;
        border-radius:50px 0px 50px 0px;
    }
    #job,#admit_card,#ans_key,#result p{
        font-size:40px;
    }                                 /*job box close*/

    #about p{                         /*about box start*/
        margin-top:150px;
    text-align: center;
    color:rgb(0, 0, 40);
    font-size:50px;
    }                                 /*about box close*/
    /* # Page 1 Close # */
    /* # Page 2 Open # */
    #list_el li{
    padding:50px;
    font-size:40px;
    margin:50px;
    border:10px solid;
    border-radius:20px 0px 20px 0px;
    }
}
